<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Koran</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script
        crossorigin="anonymous"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
        src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
	<script src="/static/htmx.min.js"></script>
    <link href="/static/koran.png" rel="icon" type="image/png">
    <link href="/static/style.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Amiri&display=swap"
        rel="stylesheet"
    />
    <meta property="og:title" content={{.Title}} />
    <meta property="og:type" content={{.Type}} />
    <meta property="og:url" content={{.Url}} />
    <meta property="og:image" content={{.Image}} />
    <meta property="og:description" content="{{.Description}}" />
    <meta property="og:logo" content={{.Image}} />
</head>
