<!DOCTYPE html>
<html lang="en">
{{template "comp_head.html"}}
<body>
<div id="app">
    {{template "comp_topbar.html" .user}}
    {{$user := .user}}
    {{range .surah_infos}}
        <a href="/surah/{{.Surah_id}}">
            <div class="surah">
                <div>{{.Surah_id}}</div>
                &nbsp;
                {{if $user.Setting.Surah_verse}}
                    <div>{{.English}}</div>
                {{end}}
                {{if $user.Setting.Surah_translation}}
                    <div class="verse" style="flex: 1;">{{.Arabic}}</div>
                {{end}}
            </div>
        </a>
    {{end}}
    {{template "comp_footer.html"}}
</div>
</body>
</html>
