<!DOCTYPE html>
<html lang="en">
{{template "comp_head.html"}}
<body>
<div id="app">
    {{template "comp_topbar.html" .user}}
    {{$user := .user}}
    <div id="bookmark">
        {{template "comp_verse.html" .}}
    </div>
    <div class="buttons">
    </div>
    <div style="display: flex;">
        <div
            hx-patch="/bookmark?move=prev"
            hx-target="#bookmark"
            style="flex: 1; height: 100vh"
            >
            <button>Previous</button>
        </div>
        <div
            hx-patch="/bookmark?move=next"
            hx-target="#bookmark"
            style="flex: 1; height: 100vh; text-align: end;"
            >
            <button>Next</button>
        </div>
    </div>
    {{template "comp_footer.html"}}
</div>
</body>
</html>
