<!DOCTYPE html>
<html lang="en">
{{template "comp_head.html"}}
<body>
<div id="app">
    {{template "comp_topbar.html" .user}}
    {{$user := .user}}
    <div id="bookmark">
        <div>{{.verse.Surah_id}}:{{.verse.Verse_id}}</div>
        {{if $user.Setting.Bookmark_verse}}
            <p class="verse">{{.verse.Text}}</p>
        {{end}}
        {{if $user.Setting.Bookmark_translation}}
            <p class="translation">{{index .verse.Translations "clearquran"}}</p>
        {{end}}
    </div>
    <div class="buttons">
        <button
            hx-patch="/bookmark?move=prev"
            hx-target="#bookmark"
            >Previous</button>
        <button
            hx-patch="/bookmark?move=next"
            hx-target="#bookmark"
            >Next</button>
    </div>
    {{template "comp_footer.html"}}
</div>
</body>
</html>
