<!DOCTYPE html>
<html lang="en">
{{template "comp_head.html"}}
<body>
<div id="app">
    {{template "comp_topbar.html" .user}}
    {{$user := .user}}
    {{range .surah.Verses}}
        <div>
            <div>{{.Surah_id}}:{{.Verse_id}}</div>
            {{if $user.Setting.Surah_verse}}
                <p class="verse">{{.Text}}</p>
            {{end}}
            {{if $user.Setting.Surah_translation}}
                <p class="translation">{{index .Translations "clearquran"}}</p>
            {{end}}
        </div>
    {{end}}
    {{template "comp_footer.html"}}
</div>
</body>
</html>
