body {
    background-image: radial-gradient(circle, #dcdcdc 1px, transparent 1px);
    background-size: 10px 10px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    font-size: 1.0em;
    margin: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

h1 {
    margin: 0;
}

p {
    margin: 8px 0 8px 0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 0 0 4px 0;
}

#app {
    margin: auto;
    max-width: 512px;
    padding: 8px;
}

#topbar {
    display: flex;
    justify-content: space-between;
}

.surah {
    align-items: center;
    display: flex;
}

.verse {
    font-family: Amiri, sans-serif;
    font-size: 1.9em;
    text-align: right;
    line-height: 2.3em;
}

.translation {}

.error {
    margin: 10vh 0 0 0;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
}

.buttons {
    display: flex;
}

.loading {
    margin: 10vh 0 0 0;
    text-align: center;
}
